<div class="query-builder" >
    <div class="query-filters">
        <div class="query-filters-sidenav">
            Where
        </div>
        <div class="query-filters-list">
            <div class="query-filters-list-item" *ngFor="let filter of filters; let i = index">
                <app-filter [fields]="fields" [filter]="filter" [showErrors]="showError"></app-filter>
                <button mat-icon-button (click)="deleteFilter(i)">  
                    <mat-icon> close </mat-icon>
                </button>
            </div>
        </div>
        <div class="query-filters-footer">
            <div class="ripple-effect"></div>
            <button mat-button color="primary" id="add-item"  (click)="addFilter()">+ ADD</button>
        </div>
    </div>
    <div class="query-footer">
        <button mat-flat-button color="primary" (click)="search()">APPLY</button>
    </div>
</div>