
$padding_left_and_right:10px;
.query-builder {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 50px;

    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0 0 10px #dadada;
    max-width: 600px;

    .query-filters {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 100px auto 50px;

        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        
        padding-top: 10px;
        background: #ebf4fb;



        .query-filters-sidenav {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            padding: 0 $padding_left_and_right;
            font-size: 14px;
            color: #727a80
        }
        .query-filters-list {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;

            display: flex;
            flex-direction: column;

            .query-filters-list-item {
                display: grid;
                grid-template-columns: 1fr 50px;
                grid-template-rows: 50px;

                .filter {
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 1;
                    grid-row-end: 1;
                }

                .delete {
                    padding: 5px;
                    grid-column-start: 4;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 1;
                    color: #1b1a1e;
                }
            }
        }

        .query-filters-footer {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 3;
            display: flex;
            align-items: center;
            padding: 0 $padding_left_and_right;
        }
    }

    .query-footer {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding:0 $padding_left_and_right ;
    }
}

.ui-button {
    cursor: pointer;

    &.primary {
        background: #1d8bed;
        color: white;
        font-size: 14px;
        border: none;
        outline: none;
        padding: 8px 15px;

        &.invert {
            background: none;
            color: #1d8bed;
            &:active {
                color: white
            }
        }

     
    }
}


.ui-icon-button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    outline: none;

    :active {
        color: white;
    }
}