<div class="query-builder">
    <div class="query-filters">
        <div class="query-filters-sidenav">
            Where
        </div>
        <div class="query-filters-list">
            <div class="query-filters-list-item" *ngFor="let filter of filters">
                <div class="lhs"></div>
                <div class="operator"></div>
                <div class="rhs"></div>
            </div>
        </div>
        <div class="query-filters-footer">
            <button class="ui-button primary invert">+ ADD</button>
        </div>
    </div>
    <div class="query-footer">
        <button class="ui-button primary">APPLY</button>
    </div>
</div>